<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
</head>
<body>
<form class="layui-form"  th:action="@{/index/update}" style="padding-top: 200px;padding-left: 40px">
    <div class="layui-form-item" style="width: 500px">
        <input type="text" name="id" th:value="${customer.id}" style=" display: none">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="name" th:value="${customer.name}" required lay-verify="required" placeholder="请输入"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年龄</label>
        <div class="layui-input-inline">
            <input type="text" name="age" th:value="${customer.age}" placeholder="请输入" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="1" title="男" th:checked="${customer.sex==1 }">
            <input type="radio" name="sex" value="0" title="女" th:checked="${customer.sex==0 }">
        </div>
    </div>
    <div class="layui-form-item " style="width: 500px">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <select name="address" lay-verify="required">
                <option>--请选择--</option>
                <option th:selected="${customer.address=='北京'}" value="北京">北京</option>
                <option th:selected="${customer.address=='上海'}" value="上海">上海</option>
                <option th:selected="${customer.address=='广州'}" value="广州">广州</option>
                <option th:selected="${customer.address=='深圳'}" value="深圳">深圳</option>
                <option th:selected="${customer.address=='杭州'}" value="杭州">杭州</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item layui-form-text" style="width: 600px">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="description"  th:text="${customer.description}" placeholder="请输入内容"
                      class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="sumbit" lay-submit lay-filter="formDemo">立即提交</button>

        </div>
    </div>
</form>


</body>
<script th:src="@{/static/layui/layui.all.js}">
    //Demo





</script>
</html>
